body {
    background: lightblue;
}

#searchBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#topLogo {
    margin: 10px;
    font-size: 2rem;
}

#settBtn {
    margin: 10px;
    font-size: 2rem;
}

#cityInput {
    margin-left: 10px;
}

#tagRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tagRow a {
    cursor: pointer;
    margin-left: 10px;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 80vh;
}

#sun {
    position: absolute;
    background: yellow;
    border-radius: 50%;
    right: 10%;
    top: 5%;
    z-index: 5;
    animation: shine 5s linear forwards;
}


/* animation keyframes for the sun */

@keyframes shine {
    from {
        box-shadow: 0 0 10px 10px yellow;
        width: 50px;
        height: 50px;
    }
    to {
        width: 125px;
        height: 125px;
        box-shadow: 0 0 20px 20px yellow;
    }
}

#cloud1 {
    z-index: 5;
    animation: driftRight 25s linear infinite;
}

#cloud2 {
    z-index: 7;
    animation: driftLeft 30s linear infinite;
}

#cloud1,
#cloud2 {
    position: absolute;
}

#cloud1 {
    top: 80px;
    left: 100px;
    z-index: 200;
}

#cloud2 {
    top: 180px;
    right: 50px;
    z-index: 200;
}

.layer1 {
    width: 200px;
    height: 80px;
    border-radius: 50px;
    background: #ffffff;
    position: absolute;
    box-shadow: 4px 4px grey;
}

.layer2 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #fff;
    top: -32px;
    left: 96px;
    z-index: -1;
    box-shadow: 3px 3px grey;
}

.layer3 {
    position: absolute;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #fff;
    top: -48px;
    left: 32px;
    z-index: -2;
    box-shadow: 3px 3px grey;
}

#rainCloud1 {
    position: absolute;
    top: 13%;
    right: 22%;
    z-index: 200;
}

#rainCloud2 {
    position: absolute;
    top: 17%;
    left: 10%;
    z-index: 200;
}

.rainLayer1 {
    width: 200px;
    height: 80px;
    border-radius: 50px;
    background: darkgray;
    position: absolute;
    box-shadow: 4px 4px grey;
}

.rainLayer2 {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: darkgray;
    top: -48px;
    left: 32px;
    z-index: -1;
    box-shadow: 3px 3px grey;
}

.rainLayer3 {
    position: absolute;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: darkgray;
    top: -32px;
    left: 96px;
    z-index: -1;
    box-shadow: 3px 3px grey;
}

.rainDrop {
    position: absolute;
    top: 17%;
    right: 13%;
    width: 3px;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    z-index: 199;
    animation: drop 0.4s linear infinite;
}

@keyframes drop {
    0% {
        transform: translateY(0vh);
    }
    75% {
        transform: translateY(47vh);
    }
    100% {
        transform: translateY(58vh);
    }
}


/* cloud animation keyframes */

@keyframes driftRight {
    from {
        transform: translateX(-600px);
        opacity: 0.7;
    }
    to {
        transform: translateX(1800px);
        opacity: .9;
    }
}

@keyframes driftLeft {
    from {
        transform: translateX(200px);
        opacity: 0.7;
    }
    to {
        transform: translateX(-2100px);
        opacity: .9;
    }
}

#cityHero {
    background-image: url("https://d13k13wj6adfdf.cloudfront.net/urban_areas/albuquerque_web-3079b54e59.jpg");
    width: 100%;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 546px;
}

#cityTitle {
    color: black;
    text-align: center;
    text-shadow: 3px 3px rgb(55, 74, 180);
    margin-bottom: 50px;
    padding-bottom: 50px;
}

#cityTitle h1 {
    font-size: 5rem;
}

#cityTemp {
    margin-left: 25px;
}

#cityTitle h3 {
    font-size: 2.5rem;
}

.dropDay {
    font-size: 1.5rem;
}

.dropTitle {
    display: flex;
    justify-content: space-between;
}

.mainWeather {
    margin-left: 15px;
}

.tempHigh {
    font-size: 2.5rem;
}

.tempLow {
    font-size: 2.5rem;
}

.slash {
    font-size: 2.5rem;
}

.icofont-fahrenheit {
    font-size: 2rem;
}

.icofont-celsius {
    font-size: 2rem;
}

h2 {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 50px;
    background-color: green;
    z-index: 20;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.hill {
    border-radius: 50%;
    height: 70px;
    width: 250px;
    background-color: green;
    transform: translateY(-27px);
}