body {
    background-color: lightblue;
}

#searchBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#tagRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cityHero {
    background-image: url("https://d13k13wj6adfdf.cloudfront.net/urban_areas/aarhus_web-1462c370b8.jpg");
    width: 100%;
    padding: 50px;
    height: 87vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#cityTitle {
    text-align: center;
    text-shadow: 3px 3px lightblue;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

#cityTitle h1 {
    font-size: 5rem;
}

#cityTitle h3 {
    font-size: 2.5rem;
}

.dropDay {
    font-size: 1.5rem;
}

.dropTitle {
    display: flex;
    justify-content: space-between;
}

.temp {
    font-size: 2.5rem;
}